/* Form Box Container */

.my-contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* Form Box Style */

.my-contact-detail {
    background-color: #2a2a2a;
    padding: 60px 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 650px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #ffffff;
}

.my-contact-detail hr {
    width: 50px;
    height: 2px;
    background-color: #ffffff;
    border: none;
    margin: 10px auto 20px;
}

/* Form Detail */

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    text-align: left;
}

form input, form textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #ffffff;
}

form input:focus, form textarea:focus {
    outline: none;
    border-color: #ffffff;
}

/* Contact Form Button*/

button {
    background-color: #222;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #111;
}

/* Message Box*/

textarea {
    width: 100%;
    resize: vertical;
    min-height: 100px;
    max-height: 200px;
}

.my-contact-error {
    visibility: hidden;
    z-index: 20;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    top: 15%;
    left: 50%;
    transition: opacity 0.3s, visibility 0.3s;
}

.my-contact-error.show {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 768px) {

    .my-contact-container  {
        padding: 20px;
    }

    .my-contact-error {
        top: 10%;
    }
  }